.main__blog__title {
  width: 100%;
  text-align: center;
  //   padding: 40px 100px;
  span {
    font-family: $font-family_2;
    font-size: 30px;
    line-height: 1.2;
    color: $color_3;
  }
  h3 {
    font-family: $font-family_3;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    color: $color_4;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 35px;
    margin-top: 5px;
  }
}

#main__blog {
  width: 100%;
  background-color: $color_1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 77px 0 133px;
}
.main__blog__box {
  width: 25%;
  border-radius: 10px;
  overflow: hidden;
  img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.main__blog__box-title {
  padding-top: 20px;
  h4 {
    font-family: $font-family_3;
    font-weight: 500;
    font-size: 22px;
    color: $color_6;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      color: $color_2;
    }
  }
  p {
    font-family: $font-family_1;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: $color_5;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  a {
    text-decoration: none;
    color: $color_4;
    font-family: $font-family_1;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.4s;
    &:hover {
      color: $color_2;
    }
  }
  i {
    margin-left: 15px;
  }
}

@media (max-width: 992px) {
  #main__blog {
    height: 100%;
    flex-direction: column;
    .main__blog__box {
      width: 80%;
      height: 90%;
    }
  }
}