$color_1: white;
$color_2: red;
$color_3: #d61c22;
$color_4: black;
$color_5: #666666;
$color_6: #333333;
$color_7:#222222;
$font-family_1: Montserrat;
$font-family_2: Courgette;
$font-family_3: Poppins;
$background-color_1: red;
$background-color_2: #efefef;